<!DOCTYPE html>
<html>
<head>
	<title>Card Engine</title>
	<link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
	<link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="wrapper">

	<div id="enemyStats" class="enemyStats">
		<div>Enemy power: {{ power }}</div>
		<div>Enemy evasion: {{ evasion }}</div>
		<div>Enemy resilience: {{ resilience }}</div>
	</div>

	<div id="enemyHealth" class="enemyHealth">
		<div class="healthBarborder">
			<div class="enemyHealthNum">Enemy health: {{ health }}</div>
			<div id="enemyHealthBar" class="healthBar" :style="{ width: healthPercentage + '%' }"></div>
		</div>
	</div>

	<div class="enemyPlayArea">enemy play area</div>

	<div id="battleLog" class="battleLog" v-html="logContent"></div>

	<div id="playerPlayArea" class="playerPlayArea" @dragover.prevent @drop="drop">
		<div v-html="playedCard"></div>
	</div>

	<div id="playerCards" class="playerCards">
		<card-faceup
			v-for="item in playerHand"
			v-bind:card="item"
			v-bind:key="item.id">
		</card-faceup>
	</div>

	<div id="playerHealth" class="playerHealth">
		<div class="healthBarborder">
			<div class="playerHealthNum">Player health: {{ health }}</div>
			<div id="playerHealthBar" class="healthBar" :style="{ width: healthPercentage + '%' }"></div>
		</div>
	</div>

	<div id="playerStats" class="playerStats">
		<div>Player power: {{ power }}</div>
		<div>Player evasion: {{ evasion }}</div>
		<div>Player resilience: {{ resilience }}</div>
	</div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="vendor/underscore-min.js"></script>
<script src="vendor/vue.js"></script>
<script src="utilities.js"></script>
<script src="defineCards.js"></script>
<script src="defineCombatants.js"></script>
<script src="playCard.js"></script>
<script src="turnManager.js"></script>
<script src="index.js"></script>

<script>

jQuery(document).ready(function(){

	startBattle();

});
</script>

</body>
</html>
