* {
  box-sizing: border-box;
}

html {
  font-family: "Arvo";
  font-size: 1.5rem;
}

body {
  margin: 0;
  background-color: #301914;
}

.enemyHealth {
  grid-area: enemyHealth;
  position: relative;
}

.enemyHealthNum, .playerHealthNum {
  text-align: center;
    position: absolute;
    left: 0;
    z-index: 10;
    color: white;
}

.enemyStats {
  grid-area: enemyStats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.enemyPlayArea {
  grid-area: enemyPlayArea;
}

.battleLog {
  grid-area: battleLog;
  /*overflow-y: scroll;*/
}

#playerPlayArea {
  grid-area: playerPlayArea;
}

.playerCards {
  grid-area: playerCards;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.playerStats {
  grid-area: playerStats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.playerHealth {
  grid-area: playerHealth;
  position: relative;
}

.wrapper {
  background-color: #cdb181;
  height: 96vh;
  width: 100vw;
  border: 3px solid black;
  max-width: 80rem;
  margin: 2vh auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20px 60px 1fr 1fr 1fr 1fr 60px 20px;
  grid-gap: 1rem;
  grid-template-areas:
    "enemyStats enemyStats enemyStats"
    "enemyHealth enemyHealth enemyHealth"
    "enemyPlayArea enemyPlayArea enemyPlayArea"
    "battleLog battleLog battleLog"
    "playerPlayArea playerPlayArea playerPlayArea"
    "playerCards playerCards playerCards"
    "playerHealth playerHealth playerHealth"
    "playerStats playerStats playerStats";
}

.healthBar {
  background-color: #6c0000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.healthBarborder {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  border: 3px solid black;
  background-color: #333;
}

.cardFaceUp {
  border-radius: 10px;
  border: 5px solid #000;
  background-color: #c8b9ac;
  text-align: center;
  padding: 1rem;
}

.cardFaceUp:hover {
  cursor: pointer;
}

.cardName {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1rem;
}
